/* Home.css */

.fullcontainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectgrid {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
}

.project-grid {
  margin-top: 20px;
}

.buttongroup {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
  flex-direction: column;
  justify-content: center;
}

.buttongroup:hover {
  color: blue;
}

.cardpadding {
  margin: 12px;
  margin-top: 12px;
  margin-bottom: 50px;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: contain; /* Changed from 'cover' to 'contain' */
  border-radius: 8px;
  margin-bottom: 10px;
  border-color: gold;
}


.card-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.text-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f4f4f4; 
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-left: 50px;
  color: black;
}

.text-container p {
  margin: 0;
  margin-left: 50px;
  color: black; 
}

@media (max-width: 992px) {
  .projectgrid {
      justify-content: center; 
  }

  .card {
      width: 45%; 
  }
}

@media (max-width: 576px) {
  .card {
      width: 100%; 
  }
}
